@charset "UTF-8";

*{box-sizing: border-box;}

.conA {
    margin-left: 0px;
    padding: 0px 15px;
}

.conA .container h1{
    margin-top: 0;
}

.conA .container form {
    margin: 10px 0 0 0;
}

.conA .container form fieldset {
    padding: 10px 0 20px 5px;
    border: none;
}

.conA .container form legend {
    font-family: seo;
    font-size: 20px;
    border-bottom: 1px dotted #666;
    width: 450px;
    padding: 5px 0;
    
}

.conA .container form label {
    white-space: nowrap;
    
}

.conA .container form input, .conA .container form select {
    
    padding: 10px;
    

}

.conA .container form #gender {
    margin: 10px;
}


.btn_t1 {
    border: none;
    color: #FFF;
    background-color: green;
    font-size: 18px;
    padding: 12px 30px;
    line-height:  15px;
    text-align:  center;
    border-radius: 3px;
}

.btn_t2 {
    width: 100%;
    border: none;
    color: #FFF;
    background-color: green;
    font-size: 18px;
    padding: 12px 30px;
    line-height:  15px;
    margin-bottom: 10px;
    display: inline-block;
    text-align:  center;
    border-radius: 3px;
}


@media screen and (min-width: 767px) {
    
    .conA {
        margin-left: 160px;
    }

    .conA .container form legend {
        width: 600px; 
    }

    .btn_t2 {
        position: relative;
        left: 75%;
        width: auto;
    }
}
