@charset "UTF-8";

.main { 
    background-color: lightblue;
    margin: 0;
    padding: 80px 0px;
    position: relative;
    height: 100%;
    width: 100%;
    width: 1250px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

div.bc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: tomato;
    z-index: 10;
}

ul.breadcrumb{
    height: 50%;
    padding: 10px 30px;
    background-color: blue;
}

ul.breadcrumb li{
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

ul.breadcrumb li a{
    color: white;
    text-decoration: none;
}

ul.breadcrumb li a:hover{
    color: #01447e;
    text-decoration: underline;
}

/*
.sub_img{
    position: absolute;
    top: 0;
    width: 1250px;
    background-color: tomato;
    z-index: 9;
    height: 200px;
    background-image: url(../images/main_img.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.sub_img img {
    margin: 9px 0 0 0;
}

*/
.sidenav{
    height: 100%;
    width: 160px;
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 60px 0px;
}

.sidenav h2{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

